<script src="navbar.component.spec.ts"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/angular.png" alt="" width="30" height="24">
    </a>
    <a class="navbar-brand" href="#">Desenvolvimento Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['principal']" routerLinkActive="active">Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contato']" routerLinkActive="active" href="contato">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['interpolacao']" routerLinkActive="active">Interpolação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="property-binding">Property binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="event-binding">Event binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="two-way-binding">Two way binding</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tecnologias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Angular</a></li>
            <li><a class="dropdown-item" href="#">Angular Material</a></li>
            <li><a class="dropdown-item" href="#">Twitter Bootstrap</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
