<h1>Exemplos de Event binding</h1>

<h2>Exemplo 1</h2>
  <button id="btn_exemplo_1" class="btn btn-primary" (click)="btnExemplo1OnClick()">Clique aqui</button>
<hr>

<h2>Exemplo 2</h2>
<input type="text" id="iptExemplo2" #iptExemplo2 (keyup)="iptExemplo2OnKeyUp(iptExemplo2.value)">
<p>{{ iptExemplo2Value }}</p>
<hr>

<h2>Exemplo 3</h2>
<input type="text" id="iptExemplo3" #iptExemplo3 (keyup.enter)="iptExemplo3OnKeyUp(iptExemplo3.value)">
<p>{{ iptExemplo3Value }}</p>
<hr>

<h2>Exemplo 4</h2>
<p>
  <label for="iptNome">Digite seu nome</label>
<input type="text" id="iptNome" #iptNome >
</p>
<button class="btn btn-dark" id="btnNome" (click)="btnNomeOnClick(iptNome.value)">Confirmar</button>

<hr>
