<h1>Exemplos de interpolação</h1>

<h2>Exemplo 1</h2>

<p>O resultado de 1 + 1 é igual a {{ 1 + 1 }}</p>
<p>O resultado de 1 / 2 é igual a {{ 1 / 2 }}</p>
<hr>

<h2>Exemplo 2</h2>
<p>O meu nome possui {{ "victor".length }} letras</p>
<p>O meu nome todo em maiúsculo é {{ "victor".toUpperCase() }}</p>
<p>O meu nome em minúsculo é {{ "VICTOR".toLowerCase() }}</p>
<hr>

<h2>Exemplo 3</h2>
<p>Meu nome é {{ nome }}</p>
<hr>
<h2>Exemplo 4</h2>
<p>Minha idade é: {{ getIdade() }}</p>
<p>Daqui a 10 anos, vou ter {{ getIdade() + 10 }} anos</p>
<hr>

<h2>Exemplo 5</h2>
<img src="{{ imageUrl }}">
